body{
    background-color:lightgrey;
}

h1{
    text-align: center;
    font-weight: bold;
    font-family: Georgia;
    background-color:white;
    text-shadow:orange;
}

img{
    margin-right: 30px;
   

}
div{
    display:inline-block;
}

section{
    margin: 50px;
}

img:hover{
    opacity:0.4;
    cursor:pointer;
    
}
p{
    font-style: italic;
    font-weight: bold;
}